.container{
    width: 100%;
}
.title{
    margin-top: 1.25rem; 
    font-size: 3.75rem; 
    font-weight: 800; 
    line-height: 1.15; 
    color: black
}
.desc{
    margin-top: 1.25rem; 
    font-size: 1.125rem; 
    color: #4b5563; 
    max-width: 36rem;
}
.cards {
  display: grid;
  justify-content: center;
  align-items: center;
  gap: var(--space-y);
  --space-y: 1.5rem; 
  padding-top: 2rem;
  padding-bottom: 2rem;
  --columns-sm: 3; 
  grid-template-columns: repeat(var(--columns-sm), 1fr);
  }
  @media (min-width: 640px) {
    .title {
      font-size: 4.5rem; 
    }
    .desc{
        font-size: 1.25rem;
    }
  }