.container{
  flex: 1;
  break-inside: avoid;
  border-radius: 0.5rem;
  border: 1px solid #d1d5db;
  background-color: rgba(255, 255, 255, 0.2);
  background-clip: padding-box;
  padding: 1.5rem;
  padding-bottom: 1rem;
  backdrop-filter: blur(10px);
  width: 100%;
  height: fit-content;
}
.cards{
  display: flex;
  justify-content: space-evenly; 
  align-items: flex-start; 
  gap: 9rem;
}
.card{
  flex: 1; 
  display: flex; 
  flex-direction: column;
  justify-content: flex-start; 
  gap: 1rem; 
  cursor: pointer;
}
.userImage{
  border-radius: 50%; 
  object-fit: contain;
}
.user{
    display: flex;
    flex-direction: column;
}
.title{
  margin-top: -1rem;
  font-family: 'Satoshi', sans-serif;
  text-transform: capitalize;
  font-weight: 600; 
  color: #111827;
}
.email{
  margin-top: -1rem;
  font-family: 'Inter', sans-serif; 
  font-size: 0.875rem; 
  color: #6b7280;
}
.copybtn{
    width: 1.75rem;
  height: 1.75rem;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  box-shadow: inset 10px -50px 94px 0 rgba(199, 199, 199, 0.2);
  backdrop-filter: blur(10px);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.prompt{
    margin-top: 1rem;
  margin-bottom: 1rem; 
  font-family: 'Satoshi', sans-serif; 
  font-size: 0.875rem; 
  color: #4b5563;
}
.tag{
    font-family: 'Inter', sans-serif; 
  font-size: 0.875rem; 
  color: linear-gradient(135deg, #4f46e5, #8f94fb); 
  cursor: pointer;
}
.btn{
  margin-top: 1.25rem; 
  display: flex; 
  justify-content: center; 
  gap: 1rem; 
  border-top: 1px solid #e5e7eb; 
  padding-top: 0.75rem;
}
.editbtn{
  cursor: pointer;
}
.deletebtn{
  cursor: pointer;
  color: red;
}
.editbtn::after{
  content: attr(data-message);
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  padding: 0.25rem 0.5rem;
  border-radius: 0.25rem;
  background-color: rgba(0, 0, 0, 0.8);
  color: #ffffff;
  font-size: 0.75rem;
  white-space: nowrap;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
}
.deletebtn::after {
  content: attr(data-message);
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  padding: 0.25rem 0.5rem;
  border-radius: 0.25rem;
  background-color: rgba(0, 0, 0, 0.8);
  color: #ffffff;
  font-size: 0.75rem;
  white-space: nowrap;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;

}
.editbtn:hover:after{
  opacity: 1;
}
.deletebtn:hover::after {
  opacity: 1;
}
@media (min-width: 768px) {
    .container {
      max-width: 22.5rem;
    }
  }
